.auth {
    width: 400px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 3px 3px #eee;
    margin: 100px auto 0;
    min-height: 150px;
    padding: 30px;

    h1 {
        margin-bottom: 20px;
    }

    p {
        font-size: 0.9em;
    }

    label {
        font-size: 0.8em;
        padding-left: 2px;
    }

    input[type="text"],
    input[type="email"] {   
        width: 100%;
        padding: 12px 10px;
        border-radius: 3px;
        border: 0;
        background: #eee;
        margin: 5px 0;
        outline: none;
        margin-bottom: 15px;
    }
}